<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kostez.outputtesttask">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:name="com.example.kostez.outputtesttask.MyApplication" >
        <activity
            android:name=".activityes.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme.Base"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|locale" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activityes.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection|locale" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>